ETL Pipeline for Fortune 1000 Data
===

## Introduction

In [ ]:
'''
=================================================
ETL Pipeline for Fortune 1000 Data
Owner: Sam

This program will load the dataset and perform data exploration and quality check for the raw Fortune 1000 dataset (P2M3_Sam_data_raw.csv)
=================================================
'''

'\n=================================================\nMilestone 3\n\nNama  : Sam\nBatch : BSD-10\n\nThis program will load the dataset and perform data exploration and quality check for the raw Fortune 1000 dataset (P2M3_Sam_data_raw.csv)\n=================================================\n'

## Library

In [2]:
import pandas as pd

## Data Loading

In [3]:
# display max
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# load data
df = pd.read_csv('P2M3_Sam_data_raw.csv')

# data info
df.info()

# show the first 3 rows
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company            1000 non-null   object
 1   rank               1000 non-null   int64
 2   rank_change        1000 non-null   float64
 3   revenue            1000 non-null   float64
 4   profit             997 non-null    float64
 5   num. of employees  999 non-null    float64
 6   sector             1000 non-null   object
 7   city               1000 non-null   object
 8   state              1000 non-null   object
 9   newcomer           1000 non-null   object
 10  ceo_founder        1000 non-null   object
 11  ceo_woman          1000 non-null   object
 12  profitable         1000 non-null   object
 13  prev_rank          1000 non-null   object
 14  CEO                1000 non-null   object
 15  Website            1000 non-null   object
 16  Ticker             951 non-null    object
 17  Market Cap         969 non-null    object
dtypes: float64(4), int64(1), object(13)
memory usage: 140.8+ KB

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank,CEO,Website,Ticker,Market Cap
0,Walmart,1,0.0,572754.0,13673.0,2300000.0,Retailing,Bentonville,AR,no,no,no,yes,1.0,C. Douglas McMillon,https://www.stock.walmart.com,WMT,352037
1,Amazon,2,0.0,469822.0,33364.0,1608000.0,Retailing,Seattle,WA,no,no,no,yes,2.0,Andrew R. Jassy,www.amazon.com,AMZN,1202717
2,Apple,3,0.0,365817.0,94680.0,154000.0,Technology,Cupertino,CA,no,no,no,yes,3.0,Timothy D. Cook,www.apple.com,AAPL,2443962
3,CVS Health,4,0.0,292111.0,7910.0,258000.0,Health Care,Woonsocket,RI,no,no,yes,yes,4.0,Karen Lynch,https://www.cvshealth.com,CVS,125204
4,UnitedHealth Group,5,0.0,287597.0,17285.0,350000.0,Health Care,Minnetonka,MN,no,no,no,yes,5.0,Andrew P. Witty,www.unitedhealthgroup.com,UNH,500468

In [4]:
df.prev_rank.unique()

array(['1.0', '2.0', '3.0', '4.0', '5.0', '10.0', '6.0', '9.0', '7.0',
       '8.0', '12.0', '13.0', '11.0', '15.0', '14.0', '27.0', '18.0',
       '16.0', '32.0', '23.0', '17.0', '21.0', '20.0', '19.0', '22.0',
       '24.0', '34.0', '26.0', '48.0', '53.0', '28.0', '30.0', '25.0',
       '35.0', '31.0', '29.0', '36.0', '51.0', '45.0', '41.0', '37.0',
       '39.0', '77.0', '33.0', '44.0', '40.0', '43.0', '38.0', '42.0',
       '46.0', '55.0', '52.0', '50.0', '81.0', '49.0', '47.0', '59.0',
       '57.0', '56.0', '54.0', '61.0', '62.0', '68.0', '82.0', '100.0',
       '70.0', '72.0', '66.0', '64.0', '60.0', '65.0', '67.0', '78.0',
       '63.0', '97.0', '69.0', '156.0', '71.0', '74.0', '76.0', '73.0',
       '75.0', '85.0', '88.0', '83.0', '89.0', '58.0', '127.0', '105.0',
       '79.0', '80.0', '95.0', '93.0', '84.0', '103.0', '87.0', '90.0',
       '149.0', '92.0', '123.0', '86.0', '96.0', '98.0', '102.0', '94.0',
       '91.0', '124.0', '99.0', '117.0', '101.0', '147.0', '114.0',
       '178.0', '174.0', '115.0', '109.0', '128.0', '130.0', '104.0',
       '125.0', '108.0', '118.0', '106.0', '148.0', '155.0', '122.0',
       '135.0', '121.0', '116.0', '203.0', '129.0', '107.0', '333.0',
       '184.0', '183.0', '137.0', '111.0', '316.0', '110.0', '112.0',
       '145.0', '143.0', '134.0', '164.0', '126.0', '200.0', '133.0',
       '132.0', '150.0', '113.0', '159.0', '157.0', '146.0', '191.0',
       '119.0', '176.0', '215.0', '231.0', '454.0', '142.0', '131.0',
       '154.0', '153.0', '141.0', '138.0', '161.0', '165.0', '160.0',
       '171.0', '140.0', ' ', '310.0', '177.0', '136.0', '162.0', '350.0',
       '175.0', '120.0', '139.0', '168.0', '167.0', '158.0', '195.0',
       '192.0', '186.0', '179.0', '172.0', '251.0', '242.0', '201.0',
       '173.0', '170.0', '285.0', '185.0', '319.0', '279.0', '210.0',
       '181.0', '245.0', '169.0', '199.0', '202.0', '254.0', '197.0',
       '163.0', '152.0', '323.0', '246.0', '281.0', '188.0', '209.0',
       '144.0', '212.0', '166.0', '364.0', '182.0', '220.0', '204.0',
       '221.0', '198.0', '207.0', '262.0', '351.0', '299.0', '309.0',
       '205.0', '213.0', '180.0', '218.0', '354.0', '219.0', '328.0',
       '336.0', '234.0', '187.0', '214.0', '288.0', '250.0', '322.0',
       '211.0', '208.0', '226.0', '295.0', '289.0', '239.0', '227.0',
       '428.0', '238.0', '304.0', '232.0', '240.0', '223.0', '236.0',
       '229.0', '206.0', '193.0', '222.0', '196.0', '189.0', '343.0',
       '225.0', '277.0', '256.0', '216.0', '303.0', '284.0', '241.0',
       '275.0', '293.0', '261.0', '260.0', '286.0', '248.0', '217.0',
       '249.0', '253.0', '272.0', '268.0', '361.0', '233.0', '194.0',
       '266.0', '258.0', '278.0', '269.0', '247.0', '255.0', '311.0',
       '483.0', '190.0', '264.0', '237.0', '291.0', '366.0', '267.0',
       '270.0', '292.0', '298.0', '308.0', '276.0', '265.0', '259.0',
       '346.0', '368.0', '320.0', '273.0', '290.0', '315.0', '330.0',
       '243.0', '235.0', '274.0', '252.0', '230.0', '339.0', '305.0',
       '388.0', '300.0', '271.0', '282.0', '302.0', '326.0', '317.0',
       '453.0', '297.0', '321.0', '283.0', '307.0', '313.0', '331.0',
       '244.0', '301.0', '228.0', '341.0', '424.0', '349.0', '324.0',
       '294.0', '442.0', '287.0', '397.0', '379.0', '325.0', '355.0',
       '340.0', '369.0', '314.0', '334.0', '387.0', '306.0', '367.0',
       '344.0', '338.0', '363.0', '405.0', '345.0', '318.0', '352.0',
       '357.0', '380.0', '386.0', '347.0', '362.0', '327.0', '372.0',
       '374.0', '360.0', '337.0', '375.0', '401.0', '471.0', '498.0',
       '312.0', '263.0', '280.0', '406.0', '409.0', '365.0', '404.0',
       '419.0', '370.0', '383.0', '385.0', '408.0', '329.0', '472.0',
       '403.0', '373.0', '411.0', '399.0', '458.0', '451.0', '359.0',
       '356.0', '477.0', '394.0', '413.0', '335.0', '460.0', '484.0',
       '417.0', '398.0', '342.0', '358.0', '400.0', '393.0', '423.0',
       '407.0', '425.0', '392.0', '416.0', '395.0', '378.0', '445.0',
       '422.0', '441.0', '493.0', '429.0', '348.0', '257.0', '391.0',
       '414.0', '384.0', '431.0', '433.0', '466.0', '447.0', '456.0',
       '371.0', '495.0', '448.0', '396.0', '464.0', '430.0', '476.0',
       '452.0', '376.0', '436.0', '412.0', '438.0', '432.0', '427.0',
       '470.0', '481.0', '421.0', '377.0', '446.0', '435.0', '353.0',
       '382.0', '410.0', '415.0', '440.0', '381.0', '468.0', '496.0',
       '463.0', '439.0', '420.0', '475.0', '418.0', '492.0', '461.0',
       '434.0', '478.0', '443.0', '494.0', '488.0', '402.0'], dtype=object)

## Find duplicates in the data

In [5]:
# check for duplicates
print(f'Number of duplicates: {df.duplicated().sum()}')

Number of duplicates: 0

## Evaluate the missing value

In [6]:
# check for NaN values in each columns
nan_count = df.isnull().sum()

print("Number of NaN values per column:")
print(nan_count)

Number of NaN values per column:
company               0
rank                  0
rank_change           0
revenue               0
profit                3
num. of employees     1
sector                0
city                  0
state                 0
newcomer              0
ceo_founder           0
ceo_woman             0
profitable            0
prev_rank             0
CEO                   0
Website               0
Ticker               49
Market Cap           31
dtype: int64